<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/39ac5a0cbe.js"></script>
</head>

<body>
    <header class="mb-5">
        <nav class="navbar-dark navbar-expand-lg navbar bg-dark">
            <div class="navbar-brand">
                <h1 class="display-5 text-white"><a class="text-white" href="/prod/home">Warehouse Service</a></h1>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/prod/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prod/products/create-page">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prod/products/all">View All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prod/products/find-page">Find</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prod/products/update-page">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/prod/products/delete-page">Delete</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1 class="display-2 text-center mb-5">Create A Product:</h1>
        <div class="row text-center border border-secondary rounded p-5">
            <form action="/prod/products/create" class="w-100" method="POST">
                <input type="text" class="form-control mb-3" name="title" placeholder="Enter Product Title" required />
                <input type="number" min="1" class="form-control mb-3" name="price" placeholder="Enter Price of each unit" required />
                <input type="number" min="1" class="form-control mb-3" name="quantity" placeholder="Enter Total Quantity of Product" required />
                <input type="submit" class="btn btn-primary btn-lg" value="Create Product" />
            </form>
        </div>

    </div>
</body>
<footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>

</html>
